* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7c7;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.container h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.container .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.container .img-wrapper .images {
    border: 6px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px #5c5c5c9a;
    height: 250px;
    width: 350px;
    overflow: hidden;
}

.container .img-wrapper img {
    height: 240px;
    width: 340px;
    transition: 200ms ease-in-out;
    object-fit: fill;

    &:hover {
        transform: scale(1.02);
    }
}

.container .show-img {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.container .show-img span {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 4rem;
    font-weight: bolder;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
}

.container .show-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    box-shadow: 0 0 10px #ffffff55;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .container .show-img img {
        width: 94%;
    }
}